body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .address {
    padding: 10px;
    text-align: center;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .menu-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  
  .menu-item {
    flex: 1 0 300px;
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .menu-item:hover {
    transform: scale(1.05);
  }
  
  .menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .cta-button {
    background-color: #ffffff;
    color: #363636;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: flex;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .cta-button:hover {
    background-color: #555;
    color: white;
  }
  